{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
  style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');background-size: 100% 100%;">
    <div class="container">
      <h1 class="display-3 font-weight-bold">AgroStar</h1>
      <p  class="font-italic">We are the first company to bring Organic food into India's home kitchens. At AgroStar we believe food is the nourishment for not just our bodies, but our minds and souls too. A clean, toxin free diet is the easiest way to a healthy body and happy mind.

Our founders started this project a decade ago to give back to nature and society, foster communities and encourage farmers to regenerate our soils & evolve the future of food.

Humans have derived the concept of pesticides and fertilisers from ancient civilisations like Sumer and Mesopotamia. But as we have become more technologically and chemically advanced, the toxicity of these chemicals have risen and wreaked havoc on the health of our soil and our people.

Our connection to nature and understanding how to have a symbiotic relationship with it has effectively depleted. This in turn has made us a society plagued with a multitude of diseases and declining harvests.

Our main goal at AS is to reverse this process, and usher India into the golden age of health - where we strengthen our ties with Mother Nature and relearn how to use food as not just nutrition but medicine for the body, free from harmful pesticides and chemicals - as Nature intended it to be.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>
  <hr class="solid">
<h1 style="text-align:center" class="font-weight-bold">Our Team</h1>
  <hr class="solid">
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Tanay Patil</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Pankaj Parte</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Sunny Patil</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->


</main>





{% endblock %}
